<div class="container-xl">
  <div class="text-center">
    <br />
    <img
      [src]="
        isLightMode
          ? '/resources/explorer_bitcoin_cash_logo_bigger_light.png'
          : '/resources/explorer_bitcoin_cash_logo_bigger.png'
      "
      style="width: 387px; height: 100px"
    />
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: April 5, 2026</h6>

    <br /><br />

    <div class="text-start">
      <p *ngIf="officialBCHExplorer">
        The <a href="https://bchexplorer.cash">bchexplorer.cash</a> website, its
        associated API services, and related network and server infrastructure
        (collectively, the "Website") are operated by Melroy van den Berg. It is
        self-hosted and is the <b>official</b> Bitcoin Cash explorer (<a
          href="https://bchexplorer.cash"
          >bchexplorer.cash</a
        >) website.
      </p>
      <p *ngIf="!officialBCHExplorer">
        This website and its API service (collectively, the "Website") are
        operated by a member of the Bitcoin Cash community ("We" or "Us"). This
        is <b>not</b> the official Bitcoin Cash explorer website. For support
        please contact the operator of this site.
      </p>

      <h5>
        By accessing this Website, you agree to the following Terms of Service:
      </h5>

      <br />

      <h4>NO WARRANTY</h4>

      <p>
        THIS WEBSITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS, WITHOUT ANY
        WARRANTY OR REPRESENTATIONS; EXPRESS OR IMPLIED, WITHOUT EVEN THE
        IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
        CONTINUOUS AVAILABILITY, OR UNINTERRUPTED SERVICE. WE MAKE NO GUARANTEE
        TO THE ACCURACY OF ANY DATA ON THIS WEBSITE, AND IT IS YOUR
        RESPONSIBILITY TO VERIFY ALL DATA OBTAINED FOR INACCURACIES AND
        OMISSIONS.
      </p>

      <br />

      <h4>NO LIABILITY</h4>

      <p>
        WE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, WHETHER DIRECT,
        INDIRECT, OR ANY OTHER NATURE, THAT ARE DEEMED OR ALLEGED TO HAVE
        RESULTED FROM OR BEEN CAUSED BY THIS WEBSITE OR ITS CONTENTS, INCLUDING,
        BUT WITHOUT LIMITATION TO, ERRORS, INACCURACIES OR AMBIGUITY IN THIS
        WEBSITE OR ITS CONTENTS, FAILURES, MALFUNCTIONS, DELAYS OR INTERRUPTIONS
        IN OPERATION OR TRANSMISSION, ANY PERSONS USE OR MISUSE OF THIS WEBSITE
        OR ITS CONTENT, ANY ERRORS OR OMISSIONS IN CONTENT, DAMAGE FOR LOSS OF
        BITCOIN OR OTHER CRYPTO ASSETS, LOSS OF BUSINESS, LOSS OF PROFITS,
        BUSINESS INTERRUPTION, LOSS OF INFORMATION, OR ANY OTHER PECUNIARY OR
        CONSEQUENTIAL LOSS OR DAMAGE (EVEN IF WE HAVE BEEN NOTIFIED OF SUCH RISK
        OF LOSS OR DAMAGE).
      </p>

      <br />

      <h4>NO ADVERTISING</h4>

      <p>
        Out of respect for the Bitcoin Cash community, this website does not
        display advertising, and generally does not link to external websites.
        However, external links are made for references to Bitcoin Cash's
        technical documentation, for acknowledgements of individual members and
        open-source projects within the Bitcoin Cash community, and for direct
        contributors and supporters of
        <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
          >BCH Explorer project</a
        >, as follows:
      </p>
      <ul>
        <li>
          In order to refer to Bitcoin technical documentation, external links
          may by added where applicable, to informational websites that respect
          that Bitcoin Cash community and do not display advertising, altcoins,
          or third-party trackers, such as
          <a href="https://bitcoincash.org/">bitcoincash.org</a>.
        </li>
        <br />

        <li>
          In order to acknowledge members of the Bitcoin Cash community who have
          made a one-time donation of at least 2 BCH to
          <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
            >BCH Explorer project</a
          >
          on
          <a href="https://bchexplorer.cash/about">bchexplorer.cash/about</a>,
          the Bitcoin Cash community members's Twitter profile photo will
          automatically be displayed on
          <a href="https://bchexplorer.cash/about">bchexplorer.cash/about</a>,
          with <u>a link to their Twitter profile</u>.
        </li>
        <br />
        <li>
          In order to acknowledge members of the Bitcoin Cash community who have
          or have committed to making recurring donations of at least $50 USD
          per month to
          <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
            >BCH Explorer project</a
          >
          through
          <a href="https://github.com/sponsors/melroy89"
            >our GitHub Sponsors program</a
          >.
        </li>
        <br />
        <li>
          In order to acknowledge open source projects that benefit the Bitcoin
          community and have integrated
          <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
            >BCH Explorer project</a
          >
          into their software, the open source project's logo may be displayed
          on
          <a href="https://bchexplorer.cash/about">bchexplorer.cash/about</a>,
          with <u>a link to the project's repository</u>.
        </li>
        <br />
        <li>
          In order to acknowledge federations or alliances within the Bitcoin
          community that have a relationship to
          <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
            >BCH Explorer project</a
          >, the federation or alliance logo may be displayed on
          <a href="https://bchexplorer.cash/about">bchexplorer.cash/about</a>,
          with <u>a link to the alliance website</u>.
        </li>
        <br />
        <li>
          In order to acknowledge the Enterprise organizations within the
          Bitcoin Cash community that have or have committed to making recurring
          donations of at least 0.35 BCH per month to
          <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
            >BCH Explorer project</a
          >
          through
          <a href="https://github.com/sponsors/melroy89"
            >our GitHub Sponsors program</a
          >.
        </li>
        <br />
        <li>
          In order to acknowledge the Enterprise organizations within the
          Bitcoin Cash community that have made a significant one-time donation
          of at least 15 BCH to
          <a href="https://gitlab.melroy.org/bitcoincash/bitcoin-cash-explorer"
            >BCH Explorer project</a
          >, the organization's logo may be displayed on
          <a href="https://bchexplorer.cash/about">bchexplorer.cash/about</a>,
          with <u>a link to the organization's website</u>.
        </li>
      </ul>
      <p>
        However, we reserve the right to remove any links from our website that
        in our sole discretion are inappropriate. All donations are
        non-refundable.
      </p>

      <br />

      <p>EOF</p>
    </div>
  </div>

  <br /><br />
</div>
