<div class="container-xl">
  <h1
    class="text-start"
    i18n="shared.broadcast-transaction|Broadcast Transaction"
  >
    Broadcast Transaction
  </h1>

  <form
    [formGroup]="pushTxForm"
    (submit)="pushTxForm.valid && postTx()"
    novalidate
  >
    <div class="mb-3">
      <textarea
        formControlName="txHash"
        class="form-control"
        rows="5"
        i18n-placeholder="transaction.hex"
        placeholder="Transaction hex"
      ></textarea>
    </div>
    <button
      [disabled]="isLoading"
      type="submit"
      class="btn btn-success me-2"
      i18n="shared.broadcast-transaction|Broadcast Transaction"
    >
      Broadcast Transaction
    </button>
    <p class="red-color d-inline">{{ error }}</p>
    <a *ngIf="txId" [routerLink]="['/tx/' | relativeUrl, txId]">{{ txId }}</a>
  </form>

  @if (
    network === "" ||
    network === "testnet4" ||
    network === "scalenet" ||
    network === "chipnet"
  ) {
    <br />
    <h1
      class="text-start"
      style="margin-top: 1rem"
      i18n="shared.submit-transactions|Submit Package"
    >
      Submit Package
    </h1>

    <form
      [formGroup]="submitTxsForm"
      (submit)="submitTxsForm.valid && submitTxs()"
      novalidate
    >
      <div class="mb-3">
        <textarea
          formControlName="txs"
          class="form-control"
          rows="5"
          i18n-placeholder="transaction.test-transactions"
          placeholder="Comma-separated list of raw transactions"
        ></textarea>
      </div>
      <div class="form-check mb-3">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="allowhighfees"
          id="allowhighfees"
        />
        <label
          class="form-check-label"
          for="allowhighfees"
          i18n="test.tx.allow-high-fees"
          >Allow high fees?</label
        >
      </div>
      <button
        [disabled]="isLoadingPackage"
        type="submit"
        class="btn btn-success me-2"
        i18n="shared.submit-transactions|Submit Package"
      >
        Submit Package
      </button>
      <p *ngIf="errorPackage" class="red-color d-inline">{{ errorPackage }}</p>
      <p *ngIf="packageMessage" class="d-inline">{{ packageMessage }}</p>
    </form>

    <br />

    <div class="box" *ngIf="results?.length">
      <table
        class="accept-results table table-fixed table-borderless table-striped"
      >
        <tbody>
          <tr>
            <th class="allowed" i18n="test-tx.is-allowed">Allowed?</th>
            <th class="txid" i18n="dashboard.latest-transactions.txid">TXID</th>
            <th class="rate" i18n="transaction.fee-rate|Transaction fee rate">
              Fee rate
            </th>
            <th class="reason" i18n="test-tx.rejection-reason">
              Rejection reason
            </th>
          </tr>
          <ng-container *ngFor="let result of results">
            <tr>
              <td class="allowed">
                @if (result.error == null) {
                  <span>✅</span>
                } @else {
                  <span>❌</span>
                }
              </td>
              <td class="txid">
                @if (!result.error) {
                  <a [routerLink]="['/tx/' | relativeUrl, result.txid]"
                    ><app-truncate [text]="result.txid"></app-truncate
                  ></a>
                } @else {
                  <app-truncate [text]="result.txid"></app-truncate>
                }
              </td>
              <td class="rate">
                <app-fee-rate
                  *ngIf="result.fees?.['feerate'] != null"
                  [fee]="result.fees?.['feerate'] * 100000"
                ></app-fee-rate>
                <span *ngIf="result.fees?.['feerate'] == null">-</span>
              </td>
              <td class="reason">
                {{ result.error || "-" }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  }
</div>
