<ng-template [ngIf]="confirmations">
  <a
    *ngIf="blockHash; else confirmationsButton"
    [routerLink]="['/block' | relativeUrl, blockHash]"
    class="btn btn-sm btn-success {{ buttonClass }}"
    [ngbTooltip]="tooltipText"
  >
    <ng-container
      *ngTemplateOutlet="
        confirmations == 1 ? confirmationSingular : confirmationPlural;
        context: { $implicit: confirmations }
      "
    ></ng-container>
  </a>
  <ng-template #confirmationsButton>
    <button
      type="button"
      class="btn btn-sm btn-success no-cursor {{ buttonClass }}"
    >
      <ng-container
        *ngTemplateOutlet="
          confirmations == 1 ? confirmationSingular : confirmationPlural;
          context: { $implicit: confirmations }
        "
      ></ng-container>
    </button>
  </ng-template>
  <ng-template
    #confirmationSingular
    let-i
    i18n="
      shared.confirmation-count.singular|Transaction singular confirmation count
    "
    >{{ i }} confirmation</ng-template
  >
  <ng-template
    #confirmationPlural
    let-i
    i18n="
      shared.confirmation-count.plural|Transaction plural confirmation count
    "
    >{{ i }} confirmations</ng-template
  >
</ng-template>
<ng-template [ngIf]="!confirmations && height != null">
  <a
    *ngIf="blockHash; else confirmedButton"
    [routerLink]="['/block' | relativeUrl, blockHash]"
    class="btn btn-sm btn-success {{ buttonClass }}"
    [ngbTooltip]="tooltipText"
    i18n="transaction.confirmed|Transaction confirmed state"
  >
    Confirmed
  </a>
  <ng-template #confirmedButton>
    <button
      type="button"
      class="btn btn-sm btn-success no-cursor {{ buttonClass }}"
      i18n="transaction.confirmed|Transaction confirmed state"
    >
      Confirmed
    </button>
  </ng-template>
</ng-template>
<ng-template [ngIf]="chainTip != null && !confirmations && !confirmed">
  <button
    type="button"
    class="btn btn-sm btn-danger no-cursor {{ buttonClass }}"
    i18n="dashboard.unconfirmed|Unconfirmed count"
  >
    Unconfirmed
  </button>
</ng-template>
