<div class="container-xl about-page">
  <div class="intro">
    <img
      class="logo"
      [src]="
        isLightMode
          ? '/resources/explorer_bitcoin_cash_logo_bigger_light.png'
          : '/resources/explorer_bitcoin_cash_logo_bigger.png'
      "
      style="width: 100%; max-width: 340px; height: auto; display: block; margin: auto"
    />
    <div class="version">
      <span>v{{ packetJsonVersion }} [{{ frontendGitCommitHash }}]</span>
    </div>
  </div>

  <div class="about-text">
    <p i18n>
      A self-hosted Bitcoin Cash blockchain and mempool explorer. Runs entirely
      on your own node, with no trusted third parties.
    </p>
    <p>
      Source code (AGPL-3.0):
      <a
        href="https://github.com/danhaus93-ops/umbrel-bch-apps"
        target="_blank"
        rel="noopener"
        >github.com/danhaus93-ops/umbrel-bch-apps</a
      >
    </p>
  </div>
</div>
