<app-indexing-progress></app-indexing-progress>

<div class="container-xl" style="min-height: 335px">
  <div class="mb-3 d-flex blocks-menu">
    <a
      [class.active]="/^\/blocks\/\d+$/.test(router.url)"
      class="btn btn-purple"
      [routerLink]="['/blocks' | relativeUrl]"
      i18n="master-page.blocks"
      >Blocks</a
    >
    <a
      routerLinkActive="active"
      class="btn btn-purple"
      [routerLink]="['/blocks/special' | relativeUrl]"
      i18n="special-blocks.title"
      >Special Blocks</a
    >
    <a
      routerLinkActive="active"
      class="btn btn-purple"
      [routerLink]="['/blocks/stale' | relativeUrl]"
      i18n="footer.stale-blocks"
      >Stale Blocks</a
    >
  </div>

  <div class="clearfix"></div>

  <div
    class="float-start"
    style="display: flex; width: 100%; align-items: center"
  >
    <h1 i18n="special-blocks.title">Special Blocks</h1>
  </div>

  <div class="clearfix"></div>

  <p class="subtitle" i18n="special-blocks.subtitle">
    Significant Bitcoin Cash blocks, including halvings, hard forks, protocol
    upgrades, and other milestones — past and future.
  </p>

  <div style="min-height: 295px">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="height text-start" i18n="latest-blocks.height">Height</th>
          <th class="event" i18n="special-blocks.event">Event</th>
          <th class="description" i18n="special-blocks.description">
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let block of blocks">
          <td class="height text-start">
            <a [routerLink]="['/block' | relativeUrl, block.height]">{{
              block.height | number
            }}</a>
          </td>
          <td class="event">
            <span class="event-label">{{ block.labelEvent }}</span>
          </td>
          <td class="description">
            <span
              class="description-text"
              [innerHTML]="block.labelEventCompleted | linkify"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
