<footer [class]="{ services: isServicesPage }">
  <div class="container-fluid">
    <div class="row main" [class]="{ services: isServicesPage }">
      <div class="col-md-12 branding mt-2">
        <div class="main-logo" [class]="{ services: isServicesPage }">
          <img
            src="/resources/explorer_bitcoin_cash_logo_banner.png"
            alt="Bitcoin Cash Explorer logo"
            height="52px"
            class="bch-explorer-logo"
          />
        </div>
        <div
          class="site-options language-selector d-flex justify-content-center align-items-center"
          [class]="{ services: isServicesPage }"
        >
          <div class="selector">
            <app-language-selector></app-language-selector>
          </div>
          <div class="selector">
            <app-fiat-selector></app-fiat-selector>
          </div>
          <div class="selector">
            <app-timezone-selector></app-timezone-selector>
          </div>
          <div
            class="selector d-none"
            [ngClass]="isServicesPage ? 'd-lg-flex' : 'd-md-flex'"
          >
            <app-amount-selector></app-amount-selector>
          </div>
          @if (!env.customize?.theme) {
            <div
              class="selector d-none"
              [ngClass]="isServicesPage ? 'd-lg-flex' : 'd-md-flex'"
            >
              <app-theme-selector></app-theme-selector>
            </div>
          }
          <a
            *ngIf="stateService.isofficialBCHExplorerSiteBuild"
            class="btn btn-purple sponsor d-none justify-content-center"
            [ngClass]="isServicesPage ? 'd-lg-flex' : 'd-md-flex'"
            [routerLink]="['/login']"
            aria-label="Sign in to your account"
          >
            <span *ngIf="user" i18n="shared.my-account" class="nowrap"
              >My Account</span
            >
            <span *ngIf="!user" i18n="shared.sign-in" class="nowrap"
              >Sign In</span
            >
          </a>
        </div>
        @if (!env.customize?.theme) {
          <div
            class="selector d-flex justify-content-center ms-auto me-auto mt-0"
            [ngClass]="isServicesPage ? 'd-lg-none' : 'd-md-none'"
          >
            <app-amount-selector class="add-margin"></app-amount-selector>
            <app-theme-selector class="add-margin"></app-theme-selector>
          </div>
        }

        <a
          *ngIf="stateService.isofficialBCHExplorerSiteBuild"
          class="btn btn-purple sponsor d-flex justify-content-center ms-auto me-auto mt-0 mb-2"
          [ngClass]="isServicesPage ? 'd-lg-none' : 'd-md-none'"
          [routerLink]="['/login']"
          aria-label="Sign in to your account"
        >
          <span *ngIf="user" i18n="shared.my-account" class="nowrap"
            >My Account</span
          >
          <span *ngIf="!user" i18n="shared.sign-in" class="nowrap"
            >Sign In</span
          >
        </a>
      </div>
    </div>
    <div class="row col-md-12 link-tree" [class]="{ services: isServicesPage }">
      <div class="links">
        <p class="category" i18n="footer.explore">Explore</p>
        <p>
          <a
            *ngIf="env.MINING_DASHBOARD"
            [routerLink]="['/mining' | relativeUrl]"
            i18n="mining.mining-dashboard"
            >Mining Dashboard</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/blocks' | relativeUrl]"
            i18n="dashboard.recent-blocks"
            >Recent Blocks</a
          >
        </p>
        @if (currentNetwork === "mainnet") {
          <p>
            <a
              [routerLink]="['/blocks/special' | relativeUrl]"
              i18n="footer.special-blocks"
              >Special Blocks</a
            >
          </p>
        }
        <p>
          <a
            [routerLink]="['/blocks/stale' | relativeUrl]"
            i18n="footer.stale-blocks"
            >Stale Blocks</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/tx/push' | relativeUrl]"
            i18n="shared.broadcast-transaction|Broadcast Transaction"
            >Broadcast Transaction</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/tx/test' | relativeUrl]"
            i18n="shared.test-transaction|Test Transaction"
            >Test Transaction</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/tx/preview' | relativeUrl]"
            i18n="shared.preview-transaction|Preview Transaction"
            >Preview Transaction</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/docs/api' | relativeUrl]"
            i18n="footer.api-documentation"
            >API Documentation</a
          >
        </p>
      </div>
      <div class="links">
        <p class="category" i18n="footer.learn">Learn</p>
        <p>
          <a
            [routerLink]="['/docs/faq']"
            fragment="what-is-a-mempool"
            i18n="faq.what-is-a-mempool"
            >What is a mempool?</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/docs/faq']"
            fragment="what-is-a-block-explorer"
            i18n="faq.what-is-a-block-exlorer"
            >What is a block explorer?</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/docs/faq']"
            fragment="what-is-a-mempool-explorer"
            i18n="faq.what-is-a-mempool-exlorer"
            >What is a mempool explorer?</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/docs/faq']"
            fragment="what-are-cashtokens"
            i18n="faq.what-are-cashtokens"
            >What are CashTokens?</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/docs/faq']"
            fragment="host-my-own-instance-server"
            i18n="faq.host-my-own-instance-server"
            >How to host my own instance?</a
          >
        </p>
        <p>
          <a [routerLink]="['/docs/faq' | relativeUrl]" i18n="faq.more-faq"
            >More FAQs &raquo;</a
          >
        </p>
        <p *ngIf="isofficialBCHExplorerBuild">
          <a [routerLink]="['/research' | relativeUrl]" i18n="mempool-research"
            >Research</a
          >
        </p>
      </div>

      <div
        class="links"
        *ngIf="
          env.TESTNET4_ENABLED || env.SCALENET_ENABLED || env.CHIPNET_ENABLED
        "
      >
        <p class="category" i18n="footer.networks">Networks</p>
        <p
          *ngIf="
            (officialBCHExplorerSite || env.BASE_MODULE === 'explorer') &&
            currentNetwork !== '' &&
            currentNetwork !== 'mainnet'
          "
        >
          <a [href]="networkLink('mainnet')" i18n="footer.mainnet-explorer"
            >Mainnet Explorer</a
          >
        </p>
        <p
          *ngIf="
            (officialBCHExplorerSite || env.BASE_MODULE === 'explorer') &&
            currentNetwork !== 'testnet4' &&
            env.TESTNET4_ENABLED
          "
        >
          <a [href]="networkLink('testnet4')" i18n="footer.testnet4-explorer"
            >Testnet4 Explorer</a
          >
        </p>
        <p
          *ngIf="
            (officialBCHExplorerSite || env.BASE_MODULE === 'explorer') &&
            currentNetwork !== 'scalenet' &&
            env.SCALENET_ENABLED
          "
        >
          <a [href]="networkLink('scalenet')" i18n="footer.scalenet-explorer"
            >Scalenet Explorer</a
          >
        </p>
        <p
          *ngIf="
            (officialBCHExplorerSite || env.BASE_MODULE === 'explorer') &&
            currentNetwork !== 'chipnet' &&
            env.CHIPNET_ENABLED
          "
        >
          <a [href]="networkLink('chipnet')" i18n="footer.chipnet-explorer"
            >Chipnet Explorer</a
          >
        </p>
      </div>

      <div class="links">
        <p class="category" i18n="footer.tools">Tools</p>
        <p>
          <a [routerLink]="['/clock/mempool/0']" i18n="footer.clock-mempool"
            >Clock (Mempool)</a
          >
        </p>
        <p>
          <a [routerLink]="['/clock/mined/0']" i18n="footer.clock-mined"
            >Clock (Mined)</a
          >
        </p>
        <p>
          <a [routerLink]="['/tools/calculator']" i18n="shared.calculator"
            >Calculator</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/tools/address-converter']"
            i18n="shared.address-converter"
            >Address Converter</a
          >
        </p>
        <p>
          <a [routerLink]="['/verify']" i18n="shared.verify-ownership"
            >Verify Ownership (PSBT)</a
          >
        </p>
      </div>

      <div class="links">
        <p class="category" i18n="footer.legal">Legal</p>
        <p>
          <a
            [routerLink]="['/terms-of-service']"
            i18n="shared.terms-of-service|Terms of Service"
            >Terms of Service</a
          >
        </p>
        <p>
          <a
            [routerLink]="['/privacy-policy']"
            i18n="shared.privacy-policy|Privacy Policy"
            >Privacy Policy</a
          >
        </p>
        <p>
          <a
            href="/3rdpartylicenses.txt"
            i18n="shared.third-party-licenses|Third-party Licenses"
            >Third-party Licenses</a
          >
        </p>
      </div>
    </div>
    <div
      class="row version"
      [style]="{ 'background-color': isServicesPage ? 'var(--bg)' : '' }"
    >
      <div class="col-sm-12">
        <ng-container *ngIf="officialBCHExplorerSite">
          <p *ngIf="backendInfo$ | async as backend; else officialFallback">
            <span
              >{{ backend.hostname }} (v{{ backend.version }}) [<a
                target="_blank"
                href="https://github.com/danhaus93-ops/umbrel-bch-apps/commit/{{
                  backend.gitCommit | slice: 0 : 8
                }}"
                >{{ backend.gitCommit | slice: 0 : 8 }}</a
              >]</span
            >
            <span *ngIf="stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE"
              >[{{
                (servicesBackendInfo$ | async)?.gitCommit | slice: 0 : 8
              }}]</span
            >
          </p>
          <ng-template #officialFallback>
            <p>
              v{{ packetJsonVersion }} [<a
                target="_blank"
                href="https://github.com/danhaus93-ops/umbrel-bch-apps/commit/{{
                  frontendGitCommitHash
                }}"
                >{{ frontendGitCommitHash }}</a
              >]
            </p>
          </ng-template>
        </ng-container>
        <p *ngIf="!officialBCHExplorerSite">
          v{{ packetJsonVersion }} [<a
            target="_blank"
            href="https://github.com/danhaus93-ops/umbrel-bch-apps/commit/{{
              frontendGitCommitHash
            }}"
            >{{ frontendGitCommitHash }}</a
          >]
        </p>
      </div>
    </div>
  </div>
</footer>
